
:root {
    /* Theme 1 */
    --bs-mainbackground: hsl(0, 0%, 90%);
    --bs-togglekeypadbackground : hsl(0, 5%, 81%);
    --bs-screenbackground: hsl(0, 0%, 93%);
    /* --bs-cardBG: hsl(216, 50%, 16%); */
    
    /* Keys */

    --bs-KeyBackground: hsl(185, 42%, 37%);
    --bs-KeyShadow: hsl(185, 58%, 25%);
    --bs-keyBackgroundToggle:hsl(25, 98%, 40%);
    --bs-orangekeyShadow:hsl(25, 99%, 27%);
    --bs-keybackground:hsl(45, 7%, 89%);
    --bs-keyyshadow: hsl(35, 11%, 61%);
    


     /* Text */
    
     --bs-Verydarkgrayishblue:hsl(60, 10%, 19%) ;
     --bs-White: hsl(0, 0, 100%);

    }
    

    *,
    *::after,
    ::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 90vh;
        font-family: 'League Spartan', sans-serif;
        background-color:var(--bs-mainbackground);
        margin: 2rem 1rem;
        font-weight: 700;
    }


h1{
   color:var(--bs-Verydarkgrayishblue);
}

p{
    font-size: 0.7rem;
    color:var(--bs-Verydarkgrayishblue);
    margin-right: 1.5rem;
}

.container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.span {
    color:var(--bs-Verydarkgrayishblue);
    position: absolute;
    top: 25px;
    font-size: 0.7rem;
}

.card{
    border: none;
}

    .card-body{
        padding: 2rem 1rem;
        background-color:var(--bs-mainbackground);
      
    }

.top{
    margin-bottom: 1rem;
}

    .input{
        grid-column: 1 / -1;
        display: grid;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 90px;
        border-radius: 10px;
        border: none;
        background-color: var(--bs-screenbackground);
    color:var(--bs-Verydarkgrayishblue);
   font-size: 2.5rem;
    text-align: end;
    overflow: hidden;
    padding: 0 0.6rem;
        
    }


    .box{
        display: grid;
        border-radius: 10px;
        margin-top: 1rem;
        height: 22rem;
       padding: 1rem 1rem 0 ;
       background-color: var(--bs-togglekeypadbackground);
    }

    .row {
        padding: 0 0.6rem;
        column-gap: 3px;
        display: flex;
        justify-content: center;
    }

    .btn{
        display: grid;
align-content: center;
padding: 0;
height: 55px;
font-weight: 700;
font-size: 1.6rem;
margin: 0.2rem;
background-color:var(--bs-keybackground);
color: var(--bs-Verydarkgrayishblue);
box-shadow: 0px -3px 1px 0px  inset var(--bs-keyyshadow);


    }

    .col-5{
        width: 124px;
        height: 57px;
        display: grid;
        align-content: center;
        font-size: 20px;
          }


  .row-cols-2{
    display: flex;
  }

    .btn-lg{
        border-radius: 10px;
        width: 100%;
        height: 60px;
        background-color: blue;
        display: grid;
    align-content: center;
}
    

.del-reset, .data-delete{
background-color: var(--bs-KeyBackground);
color: var(--bs-keybackground);
box-shadow: 0px -3px 1px 0px  inset var(--bs-KeyShadow);
}

.red-btn{
    background-color: var(--bs-keyBackgroundToggle);
    color:var(--bs-keybackground);
    box-shadow: 0px -3px 1px 0px  inset var(--bs-orangekeyShadow);
}




   .toggle {
    width: 56px;
    height: 22px;
    border-radius: 20px;
    float: left;
    background-color: var(--bs-togglekeypadbackground);
}


 .toggle input {
   position: absolute;
   opacity: 0;
   top: 45px;
 }
 .toggle input + label {
   padding: 7px;
   color: #fff;
   
 }
 .toggle input:checked + label {
  background-color: var(--bs-keyBackgroundToggle);
   border-radius: 20px;
position: relative;
bottom: -2px;
left: -3px;
 }

 .theme{
    align-items: baseline;
    text-align: end;
 }

